<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <input type="text" id="stockholder_input" class="form-control" list="stockholder_list" placeholder="搜尋股東">
      <datalist id="stockholder_list">
        <% @stockholders.map{ |s| [s.name_zh, s.id]}.each do |name_zh, id| %>
          <option data-value="<%= id %>" value="<%= name_zh %>"></option>
        <% end %>
      </datalist>
      <span class="input-group-btn">
        <a href="" id="stockholder_search_btn" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
      </span>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="input-group">
      <input type="text" id="company_input" class="form-control" list="company_list" placeholder="搜尋公司">
      <datalist id="company_list">
        <% @companies.map{ |c| [c.name_zh, c.id]}.each do |name_zh, id| %>
          <option data-value="<%= id %>" value="<%= name_zh %>"></option>
        <% end %>
      </datalist>
      <span class="input-group-btn">
        <a href="" id="company_search_btn" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
      </span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%= link_to "新增股東", new_stockholder_path, class: "btn btn-block btn-primary btn-lg"%>
  </div>
  <div class="col-sm-4">
    <%= link_to "新增股票交易", new_transaction_path, class: "btn btn-block btn-success btn-lg"%>
  </div>
  <div class="col-sm-4">
    <button type="button" class="btn btn-block btn-danger btn-lg">股票交易列表</button>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <%= link_to "新增公司", new_company_path, class: "btn btn-block btn-primary btn-lg"%>
  </div>
  <div class="col-sm-4">
    <%= link_to "新增公司增資", new_capital_increase_path, class: "btn btn-block btn-success btn-lg"%>
  </div>
  <div class="col-sm-4">
    <%= link_to "公司增資列表", capital_increases_path, class: "btn btn-block btn-danger btn-lg"%>
  </div>
</div>