<div class="row">
  <div class="col-sm-2" style="display: table">
    <%= link_to "全股東列表", stockholders_path , {class: "btn btn-default cont", style: "display: table-cell"} %>
  </div>
  
  <div class="col-sm-5" style="padding-left: 0px">
    <div class="input-group">
      <select id="stockholder_input" class="form-control main_select2">
        <% @stockholders.each do |s| %>
          <option value="<%= s.id %>"><%= s.name_zh %><%= s.name_en %> / <%= s.passport %></option>
        <% end %>
      </select>
      <span class="input-group-btn">
        <a href="" id="stockholder_search_btn" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
      </span>
    </div>
  </div>
  <div class="col-sm-5" style="padding-left: 0px">
    <div class="input-group">
      <select id="company_input" class="form-control main_select2">
        <% @companies.each do |c| %>
          <option value="<%= c.id %>"><%= c.name_zh %></option>
        <% end %>
      </select>
      <span class="input-group-btn">
        <a href="" id="company_search_btn" class="btn btn-default">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </a>
      </span>
    </div>
  </div>
</div>
<% if session[:is_admin] %>
  <div class="row">
    <div class="col-sm-4">
      <%= link_to "新增股東", new_stockholder_path, class: "btn btn-block btn-primary btn-lg"%>
    </div>
    <div class="col-sm-4">
      <%= link_to "新增股票交易", new_transaction_path, class: "btn btn-block btn-success btn-lg"%>
    </div>
    <div class="col-sm-4">
      <%= link_to "股票交易列表", transactions_path, class: "btn btn-block btn-danger btn-lg"%>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <%= link_to "新增公司", new_company_path, class: "btn btn-block btn-primary btn-lg"%>
    </div>
    <div class="col-sm-4">
      <%= link_to "新增公司增資", new_capital_increase_path, class: "btn btn-block btn-success btn-lg"%>
    </div>
    <div class="col-sm-4">
      <%= link_to "公司增資列表", capital_increases_path, class: "btn btn-block btn-danger btn-lg"%>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-6">
      <%= link_to "股票交易列表", transactions_path, class: "btn btn-block btn-danger btn-lg"%>
    </div>
    <div class="col-sm-6">
       <%= link_to "公司增資列表", capital_increases_path, class: "btn btn-block btn-danger btn-lg"%>
    </div>
  </div>
<% end %>
  
  <div class="row" style="margin-top:48px">
    <div class="col-sm-4">
      <%= link_to "公司股數顯示表", {:controller => "report", :action => "company_report"}, class: "btn btn-block btn-default btn-lg"%>
    </div>
    <div class="col-sm-4">
      <%= link_to "合約進度表", {:controller => "report", :action => "contract_report"}, class: "btn btn-block btn-default btn-lg"%>
    </div>
    <div class="col-sm-4">
      <%= link_to "缺少資料表", {:controller => "report", :action => "lackinfo_report"}, class: "btn btn-block btn-default btn-lg"%>
    </div>
    
  </div>

</div>