<div class="row" style="margin: 0px">
  <div class="col-md-11">
    <h2><strong><%= @stockholder.name_zh %> <%= @stockholder.name_en %></strong></h2>
  </div>
  <% if session[:is_admin] %>
  <h2>
    <%= link_to "修改", edit_stockholder_path(@stockholder), class: "btn btn-default col-md-1" %>
  </h2>
  <% end %>
</div>

<div class="well">
  <div class="row no-margin-top">
    <div class="col-md-4">
      <table class="table">
        <h3><strong>基本資料</strong></h3>
        <col width="120">
        <tr>
          <th>是否成年</th>
          <td>
            <% if @stockholder.is21? %>
              <input type="checkbox" id="is21" checked disabled readonly> 成年</input>
              &nbsp;&nbsp;&nbsp;
              <input type="checkbox" id="isnt21" disabled readonly> 未成年</input>
            <% else %>
              <input type="checkbox" id="is21" disabled readonly> 成年</input>
              &nbsp;&nbsp;&nbsp;
              <input type="checkbox" id="isnt21" checked disabled readonly> 未成年</input>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>法定代理人</td>
          <td>
            <% if @stockholder.representative? %>
              <%= @stockholder.representative %>
            <% else %>
              N/A
            <% end %>
          </td>
        </tr>
        <tr>
          <th>護照號碼</th>
          <td><%= @stockholder.passport %></td>
        </tr>
        <tr>
          <th>國籍</th>
          <td><%= @stockholder.country %></td>
        </tr>
      </table>
        
      <table class="table">
        <h3><strong>聯絡方式</strong></h3>
        <col width="120">
        <tr>
          <th>電話</th>
          <td><%= @stockholder.phone %></td>
        </tr>
        <tr>
          <th>微信</th>
          <td><%= @stockholder.wechat %></td>
        </tr>
        <tr>
          <th>郵寄地址</th>
          <td><%= @stockholder.address %></td>
        </tr>
        <tr>
          <th>電子信箱</th>
          <td><%= @stockholder.email %></td>
        </tr>
      </table>
      
      <table class="table">
        <h3><strong>匯款帳號</strong></h3>
        <col width="120">
        <tr>
          <th>匯出銀行</th>
          <td><%= @stockholder.account_bank %></td>
        </tr>
        <tr>
          <th>帳號</th>
          <td><%= @stockholder.account_num %></td>
        </tr>
        <tr>
          <th>戶名</th>
          <td><%= @stockholder.account_owner %></td>
        </tr>
        <tr>
          <th>身分證件號</th>
          <td><%= @stockholder.account_owner_id %></td>
        </tr>
      </table>
      
      <table class="table">
        <h3><strong>護照影本</strong></h3>
        <% if @stockholder.copy_passport.to_s == "" %>
          <p>未上傳</p>
        <% else %>
          <% if [".png", ".PNG", ".jpg", ".JPG", ".jpeg", ".JPEG"].include?(File.extname(@stockholder.copy_passport.to_s)) %>
            <%= image_tag @stockholder.copy_passport.to_s, {class: "img-responsive", height: "270", width: "360", alt: "護照影本", onclick: "setModal(this);"} %>
          <% else %>
            <a href="<%= @stockholder.copy_passport.to_s%>" target="_blank">
              <span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 100px; color: #333333"></span>
              <p style="color: #333333"><%= URI.decode(File.basename(@stockholder.copy_passport.to_s)) %></p>  
            </a>
          <% end %>
        <% end %>      
      </table>
      
      <table class="table">
        <h3><strong>簽名頁影本</strong></h3>
        <% if @stockholder.copy_signature.to_s == "" %>
          <p>未上傳</p>
        <% else %>
          <% if [".png", ".PNG", ".jpg", ".JPG", ".jpeg", ".JPEG"].include?(File.extname(@stockholder.copy_signature.to_s)) %>
            <%= image_tag @stockholder.copy_signature.to_s, {class: "img-responsive", height: "270", width: "360", alt: "簽名頁影本", onclick: "setModal(this);"} %>
          <% else %>
            <a href="<%= @stockholder.copy_signature.to_s%>" target="_blank">
              <span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 100px; color: #333333"></span>
              <p style="color: #333333"><%= URI.decode(File.basename(@stockholder.copy_signature.to_s)) %></p>  
            </a>
          <% end %>
        <% end %>
      </table>
      
      <table class="table">
        <h3><strong>郵寄地址影本</strong></h3>
        <% if @stockholder.copy_signature.to_s == "" %>
          <p>未上傳</p>
        <% else %>
          <% if [".png", ".PNG", ".jpg", ".JPG", ".jpeg", ".JPEG"].include?(File.extname(@stockholder.copy_mail_addr.to_s)) %>
            <%= image_tag @stockholder.copy_mail_addr.to_s, {class: "img-responsive", height: "270", width: "360", alt: "簽名頁影本", onclick: "setModal(this);"} %>
          <% else %>
            <a href="<%= @stockholder.copy_mail_addr.to_s%>" target="_blank">
              <span class="glyphicon glyphicon-file" aria-hidden="true" style="font-size: 100px; color: #333333"></span>
              <p style="color: #333333"><%= URI.decode(File.basename(@stockholder.copy_mail_addr.to_s)) %></p>  
            </a>
          <% end %>
        <% end %>
      </table>
    </div>
    
    <div class="modal fade" id="image_modal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <img src="" id="enlarge_image" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-8">
      <h3><strong>持有股票</strong></h3>
      <table class="table table-hover">
        <thead>
          <th>發行公司</th>
          <th>類別</th>
          <th>持有股數</th>
        </thead>
        <tbody>
          <% if @stocks.size == 0 %>
            <tr><td colspan="3">無資料</td></tr>
          <% else %>
            <% @stocks.each do |s| %>
              <tr>
                <td><%= s[:company_name] %></td>
                <td><%= s[:stock_class] %></td>
                <td><%= s[:stock_num] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <h3><strong>近期交易</strong></h3>
      <table class="table table-hover">
        <thead>
          <th>買方</th>
          <th>賣方</th>
          <th>股票公司</th>
          <th>股票類型</th>
          <th>交易股數</th>
        </thead>
        <tbody>
          <% if @transactions.size == 0 %>
            <tr><td colspan="5">無資料</td></tr>
          <% else %>
            <% @transactions.each do |t| %>
              <tr>
                <td><%= t[:buyer_name] %></td>
                <td><%= t[:seller_name] %></td>
                <td><%= t[:company_name] %></td>
                <td><%= t[:stock_class] %></td>
                <td><%= t[:stock_num] %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

