<h2><strong><%= @stockholder.name_zh %> <%= @stockholder.name_en %></strong></h2>

<div class="well">
  <div class="row no-margin-top">
    <div class="col-md-6">
      <table class="table">
        <caption>基本資料</caption>
        <col width="250">
        <tr>
          <th>是否成年</th>
          <td>
            <% if @stockholder.is21? %>
              <input type="checkbox" id="is21" checked disabled readonly> 成年</input>
              &nbsp;&nbsp;&nbsp;
              <input type="checkbox" id="isnt21" disabled readonly> 未成年</input>
            <% else %>
              <input type="checkbox" id="is21" disabled readonly> 成年</input>
              &nbsp;&nbsp;&nbsp;
              <input type="checkbox" id="isnt21" checked disabled readonly> 未成年</input>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>法定代理人</td>
          <td>
            <% if @stockholder.representative? %>
              <%= @stockholder.representative %>
            <% else %>
              N/A
            <% end %>
          </td>
        </tr>
        <tr>
          <th>護照號碼</th>
          <td><%= @stockholder.passport %></td>
        </tr>
        <tr>
          <th>國籍</th>
          <td><%= @stockholder.country %></td>
        </tr>
      </table>
        
      <table class="table">
        <caption>聯絡方式</caption>
        <col width="250">
        <tr>
          <th>電話</th>
          <td><%= @stockholder.phone %></td>
        </tr>
        <tr>
          <th>微信</th>
          <td><%= @stockholder.wechat %></td>
        </tr>
        <tr>
          <th>郵寄地址</th>
          <td><%= @stockholder.address %></td>
        </tr>
        <tr>
          <th>電子信箱</th>
          <td><%= @stockholder.email %></td>
        </tr>
      </table>
      
      <table class="table">
        <caption>匯款帳號</caption>
        <col width="250">
        <tr>
          <th>匯出銀行</th>
          <td><%= @stockholder.account_bank %></td>
        </tr>
        <tr>
          <th>帳號</th>
          <td><%= @stockholder.account_num %></td>
        </tr>
        <tr>
          <th>戶名</th>
          <td><%= @stockholder.account_owner %></td>
        </tr>
        <tr>
          <th>身分證件號</th>
          <td><%= @stockholder.account_owner_id %></td>
        </tr>
      </table>
      
      <table class="table">
        <caption>護照影本</caption>
        <tr><td><%= image_tag @stockholder.copy_passport.to_s, height: "300", width: "400", alt: "護照影本" %></td></tr>
      </table>
      
      <table class="table">
        <caption>簽名頁影本</caption>
        <tr><td><%= image_tag @stockholder.copy_signature.to_s, height: "300", width: "400", alt: "簽名頁影本" %></td></tr>
      </table>
    </div>
    
    <div class="col-md-6">
      <h3><strong>持有股票</strong></h3>
      <table class="table table-hover">
        <thead>
          <th>發行公司</th>
          <th>類別</th>
          <th>持有股數</th>
        </thead>
        <% if @stocks.size == 0 %>
          <tr><td colspan="3">無資料</td></tr>
        <% else %>
          <% @stocks.each do |s| %>
            <tr>
              <td><%= s[:company_name] %></td>
              <td><%= s[:stock_class] %></td>
              <td><%= s[:stock_num] %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <h3><strong>近期交易</strong></h3>
      <table class="table table-hover">
        <thead>
          <th>買方</th>
          <th>賣方</th>
          <th>股票公司</th>
          <th>股票類型</th>
          <th>交易股數</th>
        </thead>
        
      </table>
    </div>
  </div>
</div>

