<div class="row">
  <div class="col-md-8">
    <h1 class="page-header" style="margin-top: 0px">增資列表</h1>
  </div>
  
  <h1>
    <div class="col-md-1" style="display: table">
      <%= link_to "全部", capital_increases_path, {class: "btn btn-default", style: "display: table-cell"} %>
    </div>
    <div class="col-md-3" style="padding-left: 0px">
      <div class="input-group col-md-12">
        <select id="company_filter_input" class="form-control capital_increase_index_select2">
          <% @companies.each do |c| %>
            <option value="<%= c.id %>"><%= c.name_zh %></option>
          <% end %>
        </select>
        <span class="input-group-btn">
          <a href="" id="company_filter_btn" class="btn btn-default">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </a>
        </span>
      </div>
    </div>
  </h1>
</div>

<%= render :partial => "layouts/flash" %>

<div class="row">
<table class="table table-hover text-center">
  <thead>
  <tr>
    <th class="text-center">公司名稱</th>
    <th class="text-center">股票類型</th>
    <th class="text-center">發行日期</th>
    <th class="text-center">金額</th>
    <th class="text-center">幣別</th> 
    <th class="text-center">每股面額</th> 
    <th class="text-center">股數</th>
    <th class="text-center">減資生效日期</th>
   	<% if session[:is_admin] %>
    <th class="text-center">編輯</th>
   	<th class="text-center">刪除</th>
   	<% end %>
  </tr>
  </thead>
  <tbody>
  <% @capital_increases.each do |c_i| %>
    <tr>    
      <td><%= c_i.company.name_zh %></td>
      <td><%= c_i["stock_class"] %></td>
      <td><%= c_i["date_issued"] %></td>
      <td><%= c_i["fund"] %></td>
      <td><%= Currency.types[c_i["currency"]-1][0] %></td> 
      <td><%= c_i["stock_price"] %></td> 
      <td><%= c_i["stock_num"] %></td>
      <td><%= c_i["date_decreased"] %></td>
      <% if session[:is_admin] %>
      <td><%= link_to 'Edit', edit_capital_increase_path(c_i), class: "btn btn-success btn-xs" %></td>
      <td><%= button_to 'Del', capital_increase_path(c_i), {method: "delete", class: "btn btn-danger btn-xs", data: {confirm: "確定刪除?"}} %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<%= javascript_include_tag('capital_increase_index.js') %>