<%= render :partial => 'layouts/flash' %>

<table class="table table-hover text-center">
  <thead>
  <tr>
    <th class="text-center">公司名稱</th>
    <th class="text-center">幣別</th> 
    <th class="text-center">股票類型</th>
    <th class="text-center">金額</th>
    <th class="text-center">每股面額</th> 
    <th class="text-center">股數</th>
    <th class="text-center">日期</th>
   	  <th class="text-center">刪除</th>
  </tr>
  </thead>
  <tbody>
  <% @capital_increases.each do |c_i| %>
    <tr>    
      <td><%= @companies_name[c_i["identity_id"]] %></td>
      <td><%= c_i["currency"] %></td> 
      <td><%= c_i["stock_class"] %></td>
      <td><%= c_i["fund"] %></td>
      <td><%= c_i["stock_price"] %></td> 
      <td><%= c_i["stock_num"] %></td>
      <td><%= c_i["date_issued"] %></td>
      <td><%= button_to 'Del', capital_increase_path(c_i), {method: "delete", class: "btn btn-danger btn-xs", data: {confirm: "確定刪除?"}} %></td>
    </tr>
  <% end %>
  </tbody>
</table>