<%= form_for @company do |f| %>
  
  <div class="row">
    <!-- 公司基本資料 -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">公司基本資料</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :name_zh, "中文名稱" %>
            <%= f.text_field :name_zh, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :name_en, "英文名稱" %>
            <%= f.text_field :name_en, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :ein, "公司稅號" %>
            <%= f.text_field :ein, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :phone, "公司電話" %>
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :address, "公司地址" %>
            <%= f.text_field :address, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <!-- 日期 --> 
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">日期資訊</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :date_establish, "公司成立日期" %>
            <div class='input-group date' id='datetimepicker1'>
              <%= f.text_field :date_establish , class: 'form-control' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
            <span class="help-block no-margin-bottom">等於起始股票發行日期</span>
          </div>
    
          <div class="form-group">
            <%= f.label :date_accounting, "會計年度" %>
            <div class='input-group date' id='datetimepicker2'>
              <%= f.text_field :date_accounting , class: 'form-control' %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 資本額 -->
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">起始資金</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :stock_class, "股票類別" %>
            <% if @company.new_record? %>
              <%= f.text_field :stock_class, class: 'form-control' %>
            <% else %>
              <%= f.text_field :stock_class, class: 'form-control', readonly: true} %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :fund, "資本額" %>
            <% if @company.new_record? %>
              <%= f.text_field :fund, class: 'form-control auto-calculate'%>
            <% else %>
              <%= f.text_field :fund, class: 'form-control', readonly: true} %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :currency, "幣別" %>
            <% if @company.new_record? %>
              <%= f.select :currency, Currency.types, {}, { :class => 'form-control' } %>
            <% else %>
              <%= f.text_field :currency, class: 'form-control', readonly: true} %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :stock_price, "每股面額" %>
            <% if @company.new_record? %>
              <%= f.text_field :stock_price, class: 'form-control auto-calculate'%>
            <% else %>
              <%= f.text_field :stock_price, class: 'form-control', readonly: true} %>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :stock_num, "原始股數" %>
            <% if @company.new_record? %>
              <%= f.text_field :stock_num, class: 'form-control' %>
            <% else %>
              <%= f.text_field :stock_num, class: 'form-control', readonly: true} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 帳戶資訊 -->
  <div class="row">
    <% @bank_hashes.each_with_index  do |bank_hash, index| %>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= bank_hash['title'] %></h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= f.label bank_hash['bank'], "銀行名稱" %>
              <%= f.text_field bank_hash['bank'] , class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label bank_hash['num'], "帳號" %>
              <%= f.text_field bank_hash['num'] , class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label bank_hash['name'], "帳戶名稱" %>
              <%= f.text_field bank_hash['name'] , class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label bank_hash['address'], "銀行地址" %>
              <%= f.text_field bank_hash['address'] , class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  
  <!-- 公司人員 -->
  <button type="button" id="add_btn" class="btn btn-primary" style="margin-bottom: 16px">新增公司人員</button>
  <div id="staff_zone" class="row" style="margin-top: 0px">
    <% if @staffs != nil %>
      <% @staffs.each do |f| %>
        <div id="first_staff" class="col-md-4" style="margin-bottom: 16px">
          <div class="panel panel-default" style="margin-bottom: 4px">
            <div class="panel-heading">
              <h3 class="panel-title">公司人員</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>職稱</label>
                <input type="text" name="staff[job_title][]" class="form-control" value="<%= f.job_title %>">
              </div>
              <div class="form-group">
                <label>員工</label>
                <select class="staff_select2" style="width: 100%" name="staff[stockholder_id][]">
                  <% @stockholders.each do |s| %>
                    <% if s.id == f.stockholder_id %>
                      <option value="<%= s.id %>" selected="selected"><%= s.name_zh %></option>
                    <% else %>
                      <option value="<%= s.id %>"><%= s.name_zh %></option>
                    <% end %>                
                  <% end %>
                </select>
              </div>
            </div>
          </div>
          <button type="button" id="remove_btn" class="remove_btn btn btn-dangerbtn-sm">移除</button>
        </div>
      <% end %>
    <% end %>
  </div>
  
  <div class="row">
    <%= f.submit "完成", class: 'btn btn-default btn-primary col-md-12' %>
  </div>
<% end %>

<script>
  $(function() {
    $('#add_btn').click(function() {
      var staff_form_str =
        '<div id="first_staff" class="col-md-4" style="margin-bottom: 16px">'+
          '<div class="panel panel-default" style="margin-bottom: 4px">'+
            '<div class="panel-heading">'+
              '<h3 class="panel-title">公司人員</h3>'+
            '</div>'+
            '<div class="panel-body">'+
              '<div class="form-group">'+
                '<label>職稱</label>'+
                '<input type="text" name="staff[job_title][]" class="form-control">'+
              '</div>'+
                '<div class="form-group">'+
                '<label>員工</label>'+
                '<select class="staff_select2" style="width: 100%" name="staff[stockholder_id][]">'+
                <% @stockholders.each do |s| %>
                  '<option value=<%= s.id%>><%= s.name_zh%></option>'+
                <% end %>
                '</select>'+
              '</div>'+
            '</div>'+
          '</div>'+
          '<button type="button" id="remove_btn" class="remove_btn btn btn-danger btn-sm">移除</button>'
        '</div>'
      
      var staff_form = $('<div/>').html(staff_form_str);
      staff_form.find(".staff_select2").select2({theme: "bootstrap"})
      staff_form.find("#remove_btn").click(function() {
        $(this).parent().remove();
      });
      $("#staff_zone").append(staff_form);
    });  
  });
</script>