<%= render :partial => 'layouts/flash' %>

<%= form_for @company do |f| %>
  <!-- 公司基本資料 -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">公司基本資料</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :name_zh, "中文名稱" %>
        <% if @company.new_record? %>
          <%= f.text_field :name_zh, class: 'form-control' %>
        <% else %>
          <%= f.text_field :name_zh, {class: 'form-control', readonly: true} %>
        <% end %>

      </div>
      <div class="form-group">
        <%= f.label :name_en, "英文名稱" %>
        <% if @company.new_record? %>
          <%= f.text_field :name_en, class: 'form-control' %>
        <% else %>
          <%= f.text_field :name_en, {class: 'form-control', readonly: true} %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :ein, "公司稅號" %>
        <% if @company.new_record? %>
          <%= f.text_field :ein, class: 'form-control' %>
        <% else %>
          <%= f.text_field :ein, {class: 'form-control', readonly: true} %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :phone, "公司電話" %>
        <%= f.text_field :phone, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :address, "公司地址" %>
        <%= f.text_field :address, class: 'form-control' %>
      </div>
    </div>
  </div>

  
  <!-- 公司人員 -->
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">董事長</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :chairman_name, "姓名" %>
            <%= f.text_field :chairman_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :chairman_passport, "護照號碼" %>
            <%= f.text_field :chairman_passport, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :chairman_email, "電子郵件" %>
            <%= f.text_field :chairman_email, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">財務長</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :cfo_name, "姓名" %>
            <%= f.text_field :cfo_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :cfo_passport, "護照號碼" %>
            <%= f.text_field :cfo_passport, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :cfo_email, "電子郵件" %>
            <%= f.text_field :cfo_email, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">執行長</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :ceo_name, "姓名" %>
            <%= f.text_field :ceo_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :ceo_passport, "護照號碼" %>
          <%= f.text_field :ceo_passport, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :ceo_email, "電子郵件" %>
            <%= f.text_field :ceo_email, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">會計師事務所</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :accounting_name, "姓名" %>
            <%= f.text_field :accounting_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :accounting_passport, "護照號碼" %>
            <%= f.text_field :accounting_passport, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :accounting_email, "電子郵件" %>
            <%= f.text_field :accounting_email, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Registered Agent</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :registered_agent_name, "姓名" %>
            <%= f.text_field :registered_agent_name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :registered_agent_passport, "護照號碼" %>
            <%= f.text_field :registered_agent_passport, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :registered_agent_email, "電子郵件" %>
            <%= f.text_field :registered_agent_email, class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div> 
    <div id="room_fileds">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">公司人員</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :company_id, "公司名" %>
            <%= f.text_field :company_id, class: 'form-control' , name: 'staff[company_id][]' %>
          </div>
          <div class="form-group">
            <%= f.label :stockholder_id, "ID" %>
          <%= f.text_field :stockholder_id, class: 'form-control', name: 'staff[stockholder_id][]'  %>
          </div>
          <div class="form-group">
            <%= f.label :job_title, "職稱" %>
            <%= f.text_field :job_title, class: 'form-control', name: 'staff[job_title][]' %>
          </div>
          <div class="form-group">
            <%= f.label :name, "名字" %>
            <%= f.text_field :name, class: 'form-control', name: 'staff[name][]' %>
          </div>
        </div>
      </div>
    </div>
     
    <button type="button" class="btn btn-primary" onclick="add_fields()">ADD</button>
    
  </div>
  
  <script>
             function add_fields() {
              var objTo = document.getElementById('room_fileds');
              var divtest = document.createElement("div");
              //divtest.getElementsByClassName('ClassForInputName').setAttribute('name', 'staff[' + ++counter + '][name]');
              divtest.innerHTML = "<%= escape_javascript(render 'dyform') %>";
             
              objTo.appendChild(divtest);
             
          }
  </script>
  
  <!-- 帳戶資訊 -->
  <% @bank_hashes.each_with_index  do |bank_hash, index| %>
    <% if index%2 == 0%>
    <div class="row">
    <% end %>  
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= bank_hash['title'] %></h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <%= f.label bank_hash['bank'], "銀行名稱" %>
              <%= f.text_field bank_hash['bank'] , class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label bank_hash['num'], "帳號" %>
              <%= f.text_field bank_hash['num'] , class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label bank_hash['name'], "帳戶名稱" %>
              <%= f.text_field bank_hash['name'] , class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label bank_hash['address'], "銀行地址" %>
              <%= f.text_field bank_hash['address'] , class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
    <% if index%2==1 or bank_hash == @bank_hashes.last%>
    </div>
    <% end %>
  <% end %>
  
  <!-- 日期 --> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">日期資訊</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :date_establish, "公司成立日期" %>
        <div class='input-group date' id='datetimepicker1'>
          <%= f.text_field :date_establish , class: 'form-control' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <span class="help-block no-margin-bottom">等於起始股票發行日期</span>
      </div>

      <div class="form-group">
        <%= f.label :date_accounting, "會計年度" %>
        <div class='input-group date' id='datetimepicker2'>
          <%= f.text_field :date_accounting , class: 'form-control' %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <!-- 資本額 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">起始資金</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <%= f.label :stock_class, "股票類別" %>
            <%= f.text_field :stock_class, class: 'form-control' %>
          </div>
        
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :fund, "資本額" %>
                <%= f.text_field :fund, class: 'form-control auto-calculate'%>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :currency, "幣別" %>
                 <%= f.select :currency, @currency_array, {}, { :class => 'form-control' } %>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :stock_price, "每股面額" %>
                <%= f.text_field :stock_price, class: 'form-control auto-calculate'%>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <%= f.label :stock_num, "原始股數" %>
                <%= f.text_field :stock_num, {class: 'form-control', readonly: true} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
  <%= f.submit "完成", class: 'btn btn-default btn-primary col-md-12' %>
  </div>
<% end %>
