<div class="row">
  <% if !session[:is_admin] || @company.is_deleted %>
    <div class="col-md-12">
      <h1 class="page-header" style="margin-top: 0px">
        <%= @company.name_zh %> <%= @company.name_en %>
        <% if @company.is_deleted %>
           (已封存)
        <% end %>
      </h1>
    </div>
  <% else %>
    <div class="col-md-11">
      <h1 class="page-header" style="margin-top: 0px">
        <%= @company.name_zh %> <%= @company.name_en %>
      </h1>
    </div>
    <h1>
      <%= link_to "修改", edit_company_path(@company), class: "btn btn-default col-md-1" %>
    </h1>
  <% end %>
</div>

<div class="well">
  <div class="row" style="margin-top: 0px">
    <div class="col-md-6">
      <h3><strong>公司資料</strong></h3>
      <table class="table">
        <col width="250">
        <tr>
          <th>稅號</th>
          <td><%= @company.ein %></td>
        </tr>
        <tr>
          <th>電話</th>
          <td><%= @company.phone %></td>
        </tr>
        <tr>
          <th>地址</th>
          <td><%= @company.address %></td>
        </tr>
        <tr>
          <th>成立日期</th>
          <td><%= @company.date_establish %></td>
        </tr>
        <tr>
          <th>年度會計日</th>
          <td><%= @company.date_accounting %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <h3><strong>起始資金</strong></h3>
      <table class="table">
        <col width="250">
        <tr>
          <th>資本額</th>
          <td><%= @company.fund %></td>
        </tr>
        <tr>
          <th>幣別</th>
          <td><%= Currency.types[@company.currency-1][0] %></td>
        </tr>
        <tr>
          <th>股票類別</th>
          <td><%= @company.stock_class %></td>
        </tr>
        <tr>
          <th>每股面額</th>
          <td><%= @company.stock_price %></td>
        </tr>
        <tr>
          <th>股票數量</th>
          <td><%= @company.stock_num %></td>
        </tr>
      </table>
    </div>
  </div>

  <h3 style="margin-top: 20px"><strong>匯款帳戶資訊</strong></h3>
  <table class="table">
    <col width="150">
    <col width="316">
    <col width="316">
    <col width="316">
    <thead>
      <th class="caption_style"></th>
      <th class="caption_style">美金銀行</th>
      <th class="caption_style">人民幣銀行</th>
      <th class="caption_style">新台幣銀行</th>
    </thead>
    <tbody>
      <tr>
        <th>銀行名稱</th>
        <td><%= @company.us_account_bank %></td>
        <td><%= @company.cn_account_bank %></td>
        <td><%= @company.tw_account_bank %></td>
      </tr>
      <tr>
        <th>帳號</th>
        <td><%= @company.us_account_num %></td>
        <td><%= @company.cn_account_num %></td>
        <td><%= @company.tw_account_num %></td>
      </tr>
      <tr>
        <th>戶名</th>
        <td><%= @company.us_account_name %></td>
        <td><%= @company.cn_account_name %></td>
        <td><%= @company.tw_account_name %></td>
      </tr>
      <tr>
        <th>銀行地址</th>
        <td><%= @company.us_account_bank_addr %></td>
        <td><%= @company.cn_account_bank_addr %></td>
        <td><%= @company.tw_account_bank_addr %></td>
      </tr>
    </tbody>
  </table>
  
  <h3 style="margin-top: 20px"><strong>公司人員</strong></h3>
  <table class="table">
    <col width="10">
    <col width="200">
    <thead>
      <th>職稱</th>
      <th>姓名</th>
    </thead>
    <tbody>
      <% @staffs.each do |s| %>
      <tr>
        <td><%= s.job_title %></td>
        <td><%= Stockholder.find(s.stockholder_id).name_zh %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
  <h3 class="margin-top: 20px" style="display: inline-block"><strong>股東</strong></h3> <span class="help-block" style="display: inline-block">交易完成之持股</span>
  <table class="table table-hover">
    <thead>
      <th>股東</th>
      <th>持有股數</th>
      <th>占比</th>
    </thead>
    <% if @stock_percentage.size == 0 %>
      <tr><td colspan="3">無資料</td></tr>
    <% else %>
      <% @stock_percentage.each do |s| %>
        <tr>
          <% if s[:percentage] >= 0.95 %>
            <td><strong><%= s[:name_zh] %> *</strong></td>
            <td><strong><%= s[:stock_num] %></strong></td>
            <td><strong><%= s[:percentage] %></strong></td>
          <% else %>
            <td><%= s[:name_zh] %></td>
            <td><%= s[:stock_num] %></td>
            <td><%= s[:percentage] %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </table>
  
  <h3 class="margin-top: 20px" style="display: inline-block"><strong>持股</strong></h3> <span class="help-block" style="display: inline-block">包括未完成交易之持股</span>
  <table class="table table-hover">
    <thead>
      <th>發行公司</th>
      <th>類別</th>
      <th>持有股數</th>
    </thead>
    <% if @stocks.size == 0 %>
      <tr><td colspan="3">無資料</td></tr>
    <% else %>
      <% i = @stocks[:stock_info].size - 1 %>
      <% while i >= 0 %>
        <tr>
          <td><%= @stocks[:stock_info][i][:company_name] %></td>
          <td><%= @stocks[:stock_info][i][:stock_class] %></td>
          <td><%= @stocks[:stock_num][i] %></td>
        </tr>
        <% i = i - 1 %>
      <% end %>
    <% end %>
  </table>
  
  <h3 class="margin-top: 20px"><strong>近期交易</strong></h3>
  <table class="table table-hover">
    <thead>
      <th>買方</th>
      <th>賣方</th>
      <th>股票公司</th>
      <th>股票類型</th>
      <th>交易股數</th>
    </thead>
    <% if @transactions.size == 0 %>
      <tr><td colspan="5">無資料</td></tr>
    <% else %>
      <% @transactions.each do |t| %>
        <tr>
          <td><%= t[:buyer_name] %></td>
          <td><%= t[:seller_name] %></td>
          <td><%= t[:company_name] %></td>
          <td><%= t[:stock_class] %></td>
          <td><%= t[:stock_num] %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
    
  <h3 class="margin-top: 20px"><strong>近期增資</strong></h3>
  <table class="table table-hover">
    <thead>
      <th>股票類型</th>
      <th>生效日期</th>
      <th>金額</th>
      <th>每股面額</th>
      <th>總股數</th>
    </thead>
    <% if @capital_increases.size == 0 %>
      <tr><td colspan="5">無資料</td></tr>
    <% else %>
      <% @capital_increases.each do |t| %>
        <tr>
          <td><%= t[:stock_class] %></td>
          <td><%= t[:date_issued] %></td>
          <td><%= t[:fund] %></td>
          <td><%= t[:stock_price] %></td>
          <td><%= t[:stock_num] %></td>
        </tr>
      <% end %>
    <% end %>
  </table>
      
</div>

