<div class="row">
  <form action="company_report" method="get">
    <div class="col-md-3">
      <select id="select_company_id" name="company_id" class="form-control main_select2">
        <% @companies.each do |c| %>
          <option value="<%= c.id %>"><%= c.name_zh %></option>
        <% end %>
      </select>
    </div>
    
    <div class="col-md-3">
      <select id="select_stock" name="stock" class="form-control main_select2">
      </select>
    </div>
    
    <div class="col-md-2">
      <div class="input-group date" id="report_datetimepicker1">
        <input type="text" id="start_time" name="start_time" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <span class="help-block no-margin-bottom">開始</span>
    </div>
    
    
    <div class="col-md-2">
      <div class="input-group date" id="report_datetimepicker2">
        <input type="text" id="end_time" name="end_time" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <span class="help-block no-margin-bottom">結束</span>
    </div>
      
    <div class="col-md-1">
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </div>
  </form>
</div>

<h1><strong>
  <%= link_to @capital_increase.identity.self_detail.name_zh+" / "+@capital_increase.stock_class+" / "+@capital_increase.date_issued.to_s , url_for(params.merge(:format => :xlsx)) %>
</strong></h1>

<div class="row">
  <div class="col-md-6">
    <h3><strong>股東占比</strong></h3>
    <div class="well">
      <table class="table table-hover text-center">
        <thead>
          <tr>
         	  <th class="text-center">股東姓名</th>
         	  <th class="text-center">股數</th>
            <th class="text-center">占比</th>
          </tr>
        </thead>
        <tbody>
          <% @complete_tuple.each do |t| %>
            <tr>
              <td><%= t[:name_zh] %></td>
         	    <td><%= t[:stock_num] %></td>
         	    <td><%= t[:percentage] %></td>
       	    </tr>
       	  <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <h3><strong>待完成交易</strong></h3>
    <div class="well">
      <table class="table table-hover text-center">
        <thead>
          <tr>
         	  <th class="text-center">股東姓名</th>
         	  <th class="text-center">股數</th>
            <th class="text-center">占比</th>
          </tr>
        </thead>
        <tbody>
          <% @ongoing_tuple.each do |t| %>
            <tr data-link="<%= edit_transaction_path(t[:transaction_id]) %>" class="tr-clickable">
              <td><%= t[:name_zh] %></td>
         	    <td><%= t[:stock_num] %></td>
         	    <td><%= t[:percentage] %></td>
       	    </tr>
       	  <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= javascript_include_tag('company_report.js') %>