<div>
  <h2><strong>已完成合約</strong></h2>
  <table class="table table-hover text-center">
    <thead>
      <tr>
     	  <th class="text-center">股東姓名</th>
     	  <th class="text-center">投資金額/幣別</th>
     	  <th class="text-center">每股面額/幣別</th>
     	  <th class="text-center">股數</th>
        <th class="text-center">資料列印</th>
        <th class="text-center">買方簽署日</th>
        <th class="text-center">賣方簽署日</th>
        <th class="text-center">合約生效日</th>
        <th class="text-center">合約狀態</th>
        <th class="text-center">更新日期</th>
      </tr>
    </thead>
    <tbody>
      <% @complete.each do |t| %>
        <tr data-link="<%= edit_transaction_path(t) %>" class="tr-clickable">
          <td><%= Identity.find(t.buyer_id).self_detail.name_zh %></td>
     	    <td><%= t.fund_original %>/<%=@currency_array[t.currency_original] %></td>
     	    <td><%= t.stock_price %>/<%=@currency_array[Company.find(t.company_id).currency] %></td>
     	    <td><%= t.stock_num %></td>
     	    <td><%= status_check(true, t.is_printed) %></td>
     	    <td>
       	    <% if t.signed_buyer? %>
       	      <%= t.signed_buyer %>
       	    <% else %>  
       	      <span class="glyphicon glyphicon-remove"></span>
       	    <% end %>
       	  </td>
       	  <td>
       	    <% if t.signed_seller? %>
       	      <%= t.signed_seller %>
       	    <% else %>  
       	      <span class="glyphicon glyphicon-remove"></span>
       	    <% end %>
       	  </td>
     	    <td><%= t.date_signed %></td>
     	    <td><strong><font color="green">已完成</font></strong></td>
     	    <td><%= Date.parse(t.updated_at.to_s) %></td>
   	    </tr>
   	  <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2><strong>進行中合約</strong></h2>
  <table class="table table-hover text-center">
    <thead>
      <tr>
    	  <th class="text-center">股東姓名</th>
     	  <th class="text-center">投資金額/幣別</th>
     	  <th class="text-center">每股面額/幣別</th>
     	  <th class="text-center">股數</th>
        <th class="text-center">資料列印</th>
        <th class="text-center">買方簽署日</th>
        <th class="text-center">賣方簽署日</th>
        <th class="text-center">合約生效日</th>
        <th class="text-center">合約狀態</th>
        <th class="text-center">更新日期</th>
      </tr>
    </thead>
    <tbody>
      <% @ongoing.each do |t| %>
        <tr data-link="<%= edit_transaction_path(t) %>" class="tr-clickable">
          <td><%= Identity.find(t.buyer_id).self_detail.name_zh %></td>
     	    <td><%= t.fund_original %>/<%=@currency_array[t.currency_original] %></td>
     	    <td><%= t.stock_price %>/<%=@currency_array[Company.find(t.company_id).currency] %></td>
     	    <td><%= t.stock_num %></td>
     	    <td><%= status_check(true, t.is_printed) %></td>
     	    <td>
       	    <% if t.signed_buyer? %>
       	      <%= t.signed_buyer %>
       	    <% else %>  
       	      <span class="glyphicon glyphicon-remove"></span>
       	    <% end %>
       	  </td>
       	  <td>
       	    <% if t.signed_seller? %>
       	      <%= t.signed_seller %>
       	    <% else %>  
       	      <span class="glyphicon glyphicon-remove"></span>
       	    <% end %>
       	  </td>
     	    <td><%= t.date_signed %></td>
     	    <td>
     	      <% if t.is_printed %>
     	        <strong>進行中</strong>
     	      <% else %>
     	        <strong>等待印出</strong>
     	      <% end %>
     	    </td>
     	    <td><%= Date.parse(t.updated_at.to_s) %></td>
   	    </tr>
   	  <% end %>
    </tbody>
  </table>
</div>

<div>
  <h2><strong>待補合約</strong></h2>
  <table class="table table-hover text-center">
    <thead>
      <tr>
    	  <th class="text-center">股東姓名</th>
     	  <th class="text-center">投資金額/幣別</th>
     	  <th class="text-center">每股面額/幣別</th>
     	  <th class="text-center">股數</th>
        <th class="text-center">資料列印</th>
        <th class="text-center">買方簽署日</th>
        <th class="text-center">賣方簽署日</th>
        <th class="text-center">合約生效日</th>
        <th class="text-center">合約狀態</th>
        <th class="text-center">更新日期</th>
      </tr>
    </thead>
    <tbody>
      <% @lacking.each do |t| %>
        <tr data-link="<%= edit_transaction_path(t) %>" class="tr-clickable">
          <td><%= Identity.find(t.buyer_id).self_detail.name_zh %></td>
     	    <td><%= t.fund_original %>/<%=@currency_array[t.currency_original] %></td>
     	    <td><%= t.stock_price %>/<%=@currency_array[Company.find(t.company_id).currency] %></td>
     	    <td><%= t.stock_num %></td>
     	    <td><%= status_check(true, t.is_printed) %></td>
     	    <td>
       	    <% if t.signed_buyer? %>
       	      <%= t.signed_buyer %>
       	    <% else %>  
       	      <span class="glyphicon glyphicon-remove"></span>
       	    <% end %>
       	  </td>
       	  <td>
       	    <% if t.signed_seller? %>
       	      <%= t.signed_seller %>
       	    <% else %>  
       	      <span class="glyphicon glyphicon-remove"></span>
       	    <% end %>
       	  </td>
     	    <td><%= t.date_signed %></td>
     	    <td><strong>待補資訊</strong></td>
     	    <td><%= Date.parse(t.updated_at.to_s) %></td>
   	    </tr>
   	  <% end %>
    </tbody>
  </table>
</div>