<div class="row">
  <div class="col-sm-1">
    <%= link_to "未完成", transactions_path(:set_not_completed => 1), :class => "btn btn-default " %>
  </div>
  <div class="col-sm-1">
    <%= link_to "已完成", transactions_path(:set_completed => 1), :class => "btn btn-default " %>
  </div>
  <div class="col-sm-1">
    <%= link_to "全部", transactions_path, :class => "btn btn-default " %>
  </div>
</div>
<div class="row">
<table class="table table-bordered text-center">
  <thead>
    <tr>
   	  <th class="text-center">買方</th>
   	  <th class="text-center">賣方</th>
   	  <th class="text-center">發行公司</th>
   	  <th class="text-center">股票類型</th>
   	  <th class="text-center">數量</th>
      <th class="text-center">面額</th>
      <th class="text-center">幣別</th>
      <th class="text-center">日期</th>
      <th class="text-center">意向書</th>
      <th class="text-center">Regular S</th>
   	  <th class="text-center">USD合約</th>
   	  <th class="text-center">RMB合約</th>
   	  <th class="text-center">購買協議</th>
   	  <th class="text-center">W8BEN</th>
   	  <th class="text-center">換股協議</th>
   	  <th class="text-center">聲明書</th>
   	  <th class="text-center">合約寄買方</th>
   	  <th class="text-center">合約寄賣方</th>
   	  <th class="text-center">編輯</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
    <tr>
   	  <td><%= @identity_names[t.buyer_id]%></td>
   	  <td><%= @identity_names[t.seller_id]%></td>
   	  <td><%= @company_names[t.company_id] %></td>
   	  <td><%= t.stock_class %></td>
   	  <td><%= t.stock_num %></td>
   	  <td><%= t.stock_price %></td>
   	  <td><%= t.currency %></td>
   	  <td><%= t.date_issued %></td>
   	  
   	  <td><%= status_check(t.contract_0_needed, t.contract_0?) %></td>
   	  <td><%= status_check(t.contract_1_needed, t.contract_1?) %></td>
   	  <td><%= status_check(t.contract_2_needed, t.contract_2?) %></td>
   	  <td><%= status_check(t.contract_3_needed, t.contract_3?) %></td>
   	  <td><%= status_check(t.contract_4_needed, t.contract_4?) %></td>
   	  <td><%= status_check(t.contract_5_needed, t.contract_5?) %></td>
   	  <td><%= status_check(t.contract_6_needed, t.contract_6?) %></td>
   	  <td><%= status_check(t.contract_7_needed, t.contract_7?) %></td>

   	  <td><%= t.send_buyer %></td> 
   	  <td><%= t.send_seller %></td>
   	  
   	  <td><%= link_to 'Edit', edit_transaction_path(t), class: "btn btn-primary btn-xs" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>