<%= render :partial => 'layouts/flash' %>

<div class="row col-md-offset-1" style="margin-top: 0px">
  <div class="col-md-1" style="display: table">
    <%= link_to "全部", transactions_path, {class: "btn btn-default", style: "display: table-cell"} %>
  </div>
  <div class="col-md-1" style="display: table; padding-left: 0px">
    <%= link_to "已完成", transactions_path(:set_completed => 1), {class: "btn btn-default", style: "display: table-cell"} %>
  </div>
  <div class="col-md-1" style="display: table; padding-left: 0px">
    <%= link_to "未完成", transactions_path(:set_not_completed => 1), {class: "btn btn-default", style: "display: table-cell"} %>
  </div>
  <div class="col-md-2" style="padding-left: 0px; display: table">
    <select id="buyer_filter_input" class="form-control main_select2" style="display: table-cell">
      
    </select>
    <span class="help-block" style="padding-left: 6px">買方</span>
  </div>
  <div class="col-md-2" style="padding-left: 0px; display: table">
    <select id="seller_filter_input" class="form-control main_select2" style="display: table-cell">
      
    </select>
    <span class="help-block" style="padding-left: 6px">賣方</span>
  </div>
  <div class="col-md-2" style="padding-left: 0px; display: table">
    <select id="stock_filter_input" class="form-control main_select2" style="display: table-cell">
      
    </select>
    <span class="help-block" style="padding-left: 6px">股票</span>
  </div>
  
  <a href="" id="filter_btn" class="btn btn-default">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </a>
  
</div>
<div class="row" style="margin-left: 0px; margin-right: 0px; margin-top:30px">
<table class="table table-hover text-center">
  <thead>
    <tr>
   	  <th class="text-center">買方</th>
   	  <th class="text-center">賣方</th>
   	  <th class="text-center">股票</th>
   	  <th class="text-center">股數</th>
      <th class="text-center">意向書</th>
      <th class="text-center">Regular S</th>
   	  <th class="text-center">USD合約</th>
   	  <th class="text-center">RMB合約</th>
   	  <th class="text-center">購買協議</th>
   	  <th class="text-center">W8BEN</th>
   	  <th class="text-center">換股協議</th>
   	  <th class="text-center">聲明書</th>
   	  <th class="text-center">銀行水單</th>
   	  <th class="text-center">合約寄買方</th>
   	  <th class="text-center">合約寄賣方</th>
   	  <th class="text-center">編輯</th>
   	  <th class="text-center">刪除</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
    <tr>
   	  <td><%= @identity_names[t.buyer_id]%></td>
   	  <td><%= @identity_names[t.seller_id]%></td>
   	  <td><%= @company_names[t.company_id] %> / <%= t.stock_class %> / <%= t.date_issued %></td>
   	  <td><%= t.stock_num %></td>
   	  
   	  <td><%= status_check(t.contract_0_needed, t.contract_0?) %></td>
   	  <td><%= status_check(t.contract_1_needed, t.contract_1?) %></td>
   	  <td><%= status_check(t.contract_2_needed, t.contract_2?) %></td>
   	  <td><%= status_check(t.contract_3_needed, t.contract_3?) %></td>
   	  <td><%= status_check(t.contract_4_needed, t.contract_4?) %></td>
   	  <td><%= status_check(t.contract_5_needed, t.contract_5?) %></td>
   	  <td><%= status_check(t.contract_6_needed, t.contract_6?) %></td>
   	  <td><%= status_check(t.contract_7_needed, t.contract_7?) %></td>
   	  <td><%= status_check(true, t.contract_7?) %></td>

   	  <td><%= t.send_buyer %></td>
   	  <td><%= t.send_seller %></td>
   	  
   	  <td><%= link_to 'Edit', edit_transaction_path(t), class: "btn btn-success btn-xs" %></td>
   	  <td><%= button_to 'Del', transaction_path(t), {method: "delete", class: "btn btn-danger btn-xs", data: {confirm: "確定刪除?"}} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>