<%= form_for @transaction, html: { id: :transaction_form } do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">交易明細</div>
    <div class="panel-body">
      
      <div class="form-group">
        <label for="transaction_buyer_id">買方</label>
        <select id="transaction_buyer_id" class="form-control" form="transaction_form" name="transaction[buyer_id]">
        </select>
      </div>
      
      <div class="form-group">
        <label for="transaction_seller_id">賣方</label>
        <select id="transaction_seller_id" class="form-control" form="transaction_form" name="transaction[seller_id]">
        </select>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label for="transaction_stock_company_id">發行公司</label>
            <select id="transaction_stock_company_id" class="form-control" form="transaction_form" name="transaction[stock_company_id]">
            </select>
          </div>
          
          <div class="col-md-4">
            <label for="transaction_stock_class">股票類別</label>
            <select id="transaction_stock_class" class="form-control" form="transaction_form" name="transaction[stock_class]">
            </select>
          </div>
          
          <div class="col-md-4">
            <label for="transaction_stock_issued_date">發行日期</label>
            <select id="transaction_stock_issued_date" class="form-control" form="transaction_form" name="transaction[stock_issued_date]">
            </select>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <%= f.label :fund, "投資金額" %>
            <%= f.text_field :fund, class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.label :currency, "幣別" %>
            <%= f.select :currency, @currency_array, {}, { :class => 'form-control' } %>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <label>交易金額</label>
            <input class="form-control" type="text" placeholder="交易金額" readonly>
          </div>
          <div class="col-md-2">
            <label>認定幣別</label>
            <input class="form-control" type="text" placeholder="好像要AJAX" readonly>
          </div>
          <div class="col-md-2">
            <%= f.label :date_paid, "匯率轉換日" %>
            <%= f.select :date_paid, @currency_array, {}, { :class => 'form-control' } %>
          </div>
          <div class="col-md-2">
            <label>匯率</label>
            <input class="form-control" type="text" placeholder="匯率...." readonly>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-md-2">
            <%= f.label :stock_price, "每股價格" %>
            <%= f.text_field :stock_price, class: "form-control" %>
          </div>
          <div class="col-md-2">
            <label>交易股數</label>
            <input name="transaction[stock_num]" class="form-control" type="text" placeholder="交易股數" readonly>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="transaction_remark">備註</label>
        <textarea name="transaction[remark]" form="transaction_form" id="transaction_remark" class="form-control" rows="5">備註...</textarea>
      </div>
      
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">和約</div>
    <div class="panel-body">

    </div>
  </div>

<% end %>