<!DOCTYPE html>
<html>
<head>
  <title>iDreams Stock System</title>
  <%= stylesheet_link_tag 'application'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div id="<%= controller_name %>_<%= action_name %>">
    
    <% if session[:is_login] %>
      <%= render 'layouts/header' %>
    <% end %>
    
    <div class="container" style="padding: 15px;">
      <%= yield %>
    </div>
    
  </div>
  
</body>
</html>
